- if current_user.member_of.present?
  .card.mt-3
    .card-header
      My Groups
    .card-body
      %ul.fa-ul
        - current_user.member_of.each do |group|
          %li
            = link_to group_path(group.token) do
              = icon('group')
              = truncate(group.title, length: 20, ommission: '...')
