=form_for group do |g|
  .field
    =g.text_field :title, placeholder: "Group Title"
  .field
    =g.text_area :description, placeholder: "Group Description"
  .field
    =g.submit "Save", class: "ui button"
