-if current_user.repositories.present?
  .field
    %label Repositories
    =select_tag :repositories, options_from_collection_for_select( current_user.repositories, :id, :title), include_blank: true
  .field.hidden-field
    %label Video
    =post.select :video, file_options(current_user.repositories, 'video')
  .field
    %label Other attachments
    =select_tag :attachments, file_options(current_user.repositories, 'application'), class: "ui fluid search selection dropdown", id: "post_attachments", multiple: true
  =post.submit "Post", class: "ui button right floated"
-else
  .box
    %i.folder.icon.massive
    %h2
      First, create a video repository or upload a files to attach.

