-number_of_student = @group.student.count
.overlay#sub_menu
  .ui.menu
    =link_to group_path(@group.token), class: (( params[:controller] == "groups" and params[:action] == 'show') ? "item active" : "item" )do
      =@group.title
    =link_to "javascript:;", class: (params[:action] == 'members' ? "item active" : "item" )do
      =number_of_student + 1 > 1 ? "Member".pluralize : "Member"
      .ui.teal.circular.label
        =number_of_student + 1
    -if current_user.role != 'student'
      =link_to request_path(@group.token), class: ((params[:controller] == 'requests' and params[:action] == 'show') ? "item active" : "item" )do
        Requests


