=render 'application/sub_menu'
.ui.segment
  .ui.grid
    -if current_user.role != "student"
      -current_user.instructor_of.each do |g|
        .four.wide.column
          =link_to group_path(g.token) do
            .ui.fluid.card.groups-control
              =image_tag "group_default.jpg"
              .content#group-title
                .aligned.center.header
                  .ui.header.tiny#group-title-control
                    =g.title
    -else
      -current_user.student_of.each do |g|
        .four.wide.column
          =link_to group_path(g.token) do
            .ui.fluid.card.groups-control
              =image_tag "group_default.jpg"
              .content#group-title
                .aligned.center.header
                  .ui.header.tiny#group-title-control
                    =g.title
