=render 'groups/sub_menu'
.ui.segment
  -if !@members.present?
    .box
      .ui.icon.header
        %i.massive.users.icon
        .content
          Your group code is: #{ params[:code] }
        .sub.header
          Share your group code to your students to receive requests.
  -else
    .ui.items
      -@members.each do |m|
        .item
          .ui.mini.image
            = image_tag avatar_url(m.avatar.url)
          .middle.aligned.content
            = link_to m.fullname, user_path(m.id)
          .middle.aligned.content
            - if current_user.admin?
              - unless m.instructor_of?(params[:group_id])
                =link_to "javascript:;" do
                  .ui.basic.green.button.right.floated.compact
                    Make Admin
              - else
                =link_to "javascript:;" do
                  .ui.basic.green.button.right.floated.compact
                    Unset as Admin
            =link_to "javascript:;", data: {method: :delete, confirm: "Do you really want to decline this request?"} do
              .ui.basic.red.button.right.floated.compact#decline-button
                Remove

