=render 'groups/sub_menu'
.ui.segment
  -if !@members.present?
    .box
      .ui.icon.header
        %i.massive.users.icon
        .content
          Your group code is: #{ params[:code] }
        .sub.header
          Share your group code to your students to receive requests.
  -else
    .ui.items
      -@members.each do |m|
        .item{ id: "#{ m.id }"}
          .ui.mini.image
            = image_tag avatar_url(m.avatar.url)
          .middle.aligned.content
            = link_to m.fullname, user_path(m.id), class: "hover-black"
          .middle.aligned.content
            - if current_user.admin?
              - if m.admin?
                - unless m.instructor_of?(params[:group_id])
                  =link_to "javascript:;" do
                    .ui.basic.green.button.right.floated.compact
                      Make Admin
                - else
                  - if m != current_user
                    =link_to "javascript:;" do
                      .ui.basic.green.button.right.floated.compact
                        Unset as Admin
            - if m != current_user && current_user.admin?
              =link_to "javascript:;", class: "remove-user-button", data:  { remove_user_url: group_remove_member_path(params[:group_id], m.id) } do
                .ui.basic.red.button.right.floated.compact#decline-button
                  Remove
.ui.mini.modal.remove-user-modal
  .header
    Remove user to the group?
  .content
    %p Are you sure you want to remove this user from your group?
  .actions
    .ui.negative.button No
    .ui.positive.button Yes

