=form_for @user, class: "user-form-control" do |r|
  -if !logged_in?
    =r.hidden_field :role, value: params[:role]
  .two.fields
    .field
      =r.text_field :email, placeholder: "E-mail", readonly: (params[:action] == 'edit' ? true : false)
    .field
      =r.select :gender, options_for_select([["Mr.", "male"], ["Ms.", "female"], ["Mrs.", "female"]])
  .three.fields
    .field
      =r.text_field :fname, placeholder: "First Name"
    .field
      =r.text_field :mname, placeholder: "Middle Name"
    .field
      =r.text_field :lname, placeholder: "Last Name"
  -if !logged_in?
    .two.fields
      .field
        =r.password_field :password, placeholder: "Password"
      .field
        =r.password_field :password_confirmation, placeholder: "Password Confirmation"
    .two.fields
      .field
        =r.submit "Register", class: "ui button"
        =link_to "Back", root_url, class: "ui button"
  -else
    =r.submit "Update", class: "ui button"
