=form_for @user, class: 'user-form-control' do |r|
  =r.hidden_field :role, value: :role == 'student' ? 1 : 2
  .two.fields
    .field
      =r.text_field :email, placeholder: 'E-mail', readonly: (params[:action] == 'edit' ? true : false)
    .field
      =r.select :gender, options_for_select([%w(Mr. male), %w(Ms. female), %w(Mrs. female)])
  .three.fields
    .field
      =r.text_field :first_name, placeholder: 'First Name'
    .field
      =r.text_field :middle_name, placeholder: 'Middle Name'
    .field
      =r.text_field :last_name, placeholder: 'Last Name'
  -if !logged_in?
    .two.fields
      .field
        =r.password_field :password, placeholder: 'Password'
      .field
        =r.password_field :password_confirmation, placeholder: 'Password Confirmation'
    .two.fields
      .field
        =r.submit 'Register', class: 'ui button'
        =link_to 'Back', root_url, class: 'ui button'
  -else
    =r.submit 'Update', class: 'ui button'
