.item{id: video.id}
  =link_to video_repository_video_path(params[:video_repository_id], video.id) , data:{confirm: "Are you sure you want to delete this video?", method: :delete} do
    .right.floated.compact.ui.button.inverted.red
      Remove
  =link_to video_repository_video_path(params[:video_repository_id] , video.id)   do
    .right.floated.compact.ui.button.inverted.green
      View
  .content
    =link_to video.title, video_repository_video_path(params[:video_repository_id] , video.id) , class: "header" 
