<%- if @video.new_record? %>
  $('<div class="ui flash" id="notice"> Something went wrong</div>').insertBefore('.ui.page.grid').hide().delay(800).fadeIn(800).delay(5000).fadeOut(800);
<%else %>
  $('.ui.divided.list').append("<%= j render(@video) %>");
  $('<div class="ui flash" id="notice"> Video Uploaded</div>').insertBefore('.ui.page.grid').hide().delay(800).fadeIn(800).delay(5000).fadeOut(800);
  $('#video_button').html('Choose a video file');
<%end%>

