.ui.segment
  %h3.ui.header= @video.title
  %video.video-js.vjs-default-skin#videojs{data: {setup: "{}"}, onplay: "videoshow()", controls: true , preload: "none", width: "100%", height: "500px", poster: @video.video.thumb.url }
    %source{src: @video.video.url , type: "video/mp4"}

