.item{id: record.id}
  =link_to_record record, :delete do
    .right.floated.compact.ui.button.inverted.red
      Remove
  =link_to_record record do
    .right.floated.compact.ui.button.inverted
      View
  = record.record_file.thumb.present? ? (image_tag record.record_file.thumb.url , class: "ui avatar image") : (semantic_icon "file")
  .content.middle.align
    =link_to truncate_title(record.title), repository_record_path(record.repository.id , record.id) , class: "header", target: "_blank"
