=render 'groups/sub_menu'
.ui.segment
  .box
    -if !@requests.present?
      %i.massive.users.icon
      %h2
        Share your group code to your students to receive requests.
        Your group code is:
        %pre
          #{ params[:code] }
  -@requests.each do |r|
    .item
      =link_to "javascript:;", data: {method: :delete, confirm: "Do you really want to decline this request?"} do
        .ui.basic.red.button.right.floated.compact#decline-button
          Decline
      =link_to accept_request_path(r.user_id.to_s, r.token) do
        .ui.basic.button.right.floated.compact#accept-button
          Accept
      .content
        .header
          =r.user.fullname
          want to joint the group

