.ui.card
  .content
    .ui.mini.statistics.three
      .statistic
        .value
          91
        .label
          watched
      .statistic
        .value
          100
        .label
          seen
      .statistic
        .value
          9
        .label
          viewed

