-if current_user.member_of.present?
  .ui.divider
  %h4#my-groups-label My Groups
  .ui.list#my-groups
    - current_user.member_of.each do |group|
      =link_to group_path(group.token), class: 'item hover-black' do
        = semantic_icon "users"
        .content
          = group.title
