-if current_user.student?
  .ui.segment
    .ui.top.attached.label
      Join group
    .content
      .ui.form.join-form-control
        =form_tag join_group_path, method: :post, remote: true, id: 'join-form' do
          =text_field_tag :code, nil, placeholder: 'Input group code here'
          =submit_tag 'Join group', class: 'ui button', id: 'join-button'
-else
  .card
    .card-header
      Repositories
    .card-block
      %ul.fa-ul
        -current_user.repositories.each do |r|
          %li
            =link_to repository_path(r.id) do
              = icon('folder')
              = r.title.titleize