.overlay#sub_menu
  .ui.menu
    =link_to pages_index_path, class: ((params[:controller] == 'pages' and params[:action] == 'index') ? "item active" : "item" )do
      Home
    =link_to groups_path, class: ((params[:controller] == 'groups' and params[:action] == 'index') ? "item active" : "item" )do
      Groups

