%ul.nav.justify-content-center
  %li.nav-item
    = link_to pages_index_path, class: 'nav-link' do
      = icon('home')
      Home
  %li.nav-item
    = link_to groups_path, class: 'nav-link' do
      = icon('group')
      Groups
